<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="SHOPIFY_ACCESS_TOKEN" value="shopify.access_token.goes.here"/>
        <env name="SHOPIFY_DOMAIN" value="shopify-domain.goes.here"/>
        <env name="SHOPIFY_API_VERSION" value="2019-07"/>
        <env name="SHOPIFY_WEBHOOK_SECRET" value="secret"/>
    </php>
</phpunit>
